body{
	background:#ecf0f1;
	padding: 0;
	margin: 0;
}

#rock-selector, #paper-selector, #player-view{
	margin-right: 50px;
}

#rock-selector{
	background:#e74c3c;
}

#paper-selector{
	background: #27ae60;
}

#cutter-selector{
	background:#2980b9;
}

.header{
	text-align: center;
}

.hand-selector{
	padding: 5px;
	height: 120px;
	width: 460px;
	margin: auto;
	margin-top: 80px;
}

.game{
	width: 690px;
	height: 320px; 
	margin: auto;
}

.small-view{
	padding: 20px;
	width: 80px;
	height: 80px;
	border-radius: 20px;
	background:#7f8c8d;
	float: left;
	transition: transform 0.4s;
}

.small-view:hover{
	transform: scale(1.2,1.2);
}

.view{
	padding: 20px;
	width: 280px;
	height: 280px;
	border-radius: 20px;
	background:#7f8c8d;
	float: left;
}